/**
 * Blood theme for reveal.js
 * Author: Walther http://github.com/Walther
 *
 * Designed to be used with highlight.js theme
 * "monokai_sublime.css" available from
 * https://github.com/isagalaev/highlight.js/
 *
 * For other themes, change $codeBackground accordingly.
 *
 */

 // Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts

@import url(https://fonts.googleapis.com/css?family=Roboto);

// Colors used in the theme
$codeBackground: #23241f;

$backgroundColor: #eee;

// Main text
$mainFont: "Roboto", sans-serif;
$mainColor: #eee;

// Headings
$headingFont: "Roboto", sans-serif;
$headingTextShadow: none;
$heading1TextShadow: none;

// Links
$linkColor: #9CE3F4;
$linkColorHover: lighten( $linkColor, 20% );

// Text selection
$selectionBackgroundColor: #9CE3F4;
$selectionColor: #fff;


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal .slides section{
    background-color: #039be5;

    >* {
    	padding-left: 20px;
    	padding-right: 20px;
    }


    transition: box-shadow .25s;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);

    hr{
    	border: 3px solid #eee;
    	padding: 0;
    }


    img{
    	background-color: #eee;
    	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
    }
    img.raw{
    	background: none;
    	border: none;
    	box-shadow: none;
    }

    h1, h2, h3, h4, h5, h6{
    	font-weight: 700;
    }

    h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child{
    	background-color: rgba(255,255,255,0.5);
    	margin-top: -20px;
    	padding-top: 20px;
    	box-shadow: 0 3px 3px -2px rgba(0,0,0,0.15);
    }
    h1:first-child:last-child, h2:first-child:last-child, h3:first-child:last-child, h4:first-child:last-child, h5:first-child:last-child{
    	background-color: rgba(255,255,255,0.5);
    	margin-bottom: -20px;
    	padding-bottom: 20px;
    }

    p {
	    font-weight: 300;
	    text-shadow: none;
	    code {
		    background-color: $codeBackground;
		    display: inline-block;
		    border-radius: 7px;
		}
	}
	small code {
	    vertical-align: baseline;
	}

	pre{
		width: 100%;
		padding: 0;
	}
	pre:last-child{
    	margin-bottom: -20px;
	}

	.fill-width{
		width: 100%;
	}
}